@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --card: hsl(0 0% 10%);
  --ring: hsl(135 66% 78%);
  --input: hsl(0 0% 14.9%);
  --muted: hsl(0 0% 14.9%);
  --accent: hsl(0 0% 33%);
  --border: hsl(0 0% 5%);
  --popover: hsl(0 0% 17%);
  --primary: hsl(138 80% 56%);
  --secondary: hsl(0 0% 14%);
  --background: hsl(0 0% 5%);
  --foreground: hsl(0 0% 98%);
  --destructive: hsl(345 87% 53%);
  --card-foreground: hsl(0 0% 98%);
  --muted-foreground: hsl(0 0% 63.9%);
  --accent-foreground: hsl(0 0% 98%);
  --popover-foreground: hsl(0 0% 98%);
  --primary-foreground: hsl(0 0% 0%);
  --secondary-foreground: hsl(0 0% 98%);
  --destructive-foreground: hsl(0 0% 98%);
  --radius: 0.9rem;
}

@layer base {
  * {
    border-color: var(--border);
  }

  button,
  [role="button"] {
    cursor: pointer;
  }
  button:disabled,
  [role="button"]:disabled {
    cursor: default;
  }
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--border);
    border-radius: 5px;
  }
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--border) transparent;
  }
}

@layer utilities {
  /* Removed custom .container class */

  .fade-in {
    --tw-enter-opacity: 0;
  }

  .fade-out {
    --tw-exit-opacity: 0;
  }

  .slide-in-from-top {
    --tw-enter-translate-y: -100%;
  }

  .slide-in-from-bottom {
    --tw-enter-translate-y: 100%;
  }

  .slide-in-from-left {
    --tw-enter-translate-x: -100%;
  }

  .slide-in-from-right {
    --tw-enter-translate-x: 100%;
  }
}
