@import "tailwindcss";

@plugin "tailwindcss-animate";

@theme inline {
  --color-card: var(--card);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-muted: var(--muted);
  --color-accent: var(--accent);
  --color-border: var(--border);
  --color-popover: var(--popover);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-destructive: var(--destructive);
  --color-card-foreground: var(--card-foreground);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent-foreground: var(--accent-foreground);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-destructive-foreground: var(--destructive-foreground);
  --font-heading: var(--font-heading);
  --font-body: var(--font-body);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --animation-delay-0: 0s;
  --animation-delay-75: 75ms;
  --animation-delay-100: 0.1s;
  --animation-delay-150: 0.15s;
  --animation-delay-200: 0.2s;
  --animation-delay-300: 0.3s;
  --animation-delay-500: 0.5s;
  --animation-delay-700: 0.7s;
  --animation-delay-1000: 1s;

  --animation-repeat-0: 0;
  --animation-repeat-1: 1;
  --animation-repeat-infinite: infinite;

  --animation-direction-normal: normal;
  --animation-direction-reverse: reverse;
  --animation-direction-alternate: alternate;
  --animation-direction-alternate-reverse: alternate-reverse;

  --animation-fill-mode-none: none;
  --animation-fill-mode-forwards: forwards;
  --animation-fill-mode-backwards: backwards;
  --animation-fill-mode-both: both;

  --animate-in: var(--tw-duration, 150ms) var(--tw-ease, ease) enter;
  --animate-out: var(--tw-duration, 150ms) var(--tw-ease, ease) exit;

  --percentage-0: 0;
  --percentage-50: 0.5;
  --percentage-100: 1;

  @keyframes enter {
    from {
      opacity: var(--tw-enter-opacity, 1);
      transform: translate3d(
          var(--tw-enter-translate-x, 0),
          var(--tw-enter-translate-y, 0),
          0
        )
        scale3d(var(--tw-enter-scale, 1), var(--tw-enter-scale, 1), var(--tw-enter-scale, 1))
        rotate(var(--tw-enter-rotate, 0));
    }
  }

  @keyframes exit {
    to {
      opacity: var(--tw-exit-opacity, 1);
      transform: translate3d(var(--tw-exit-translate-x, 0), var(--tw-exit-translate-y, 0), 0)
        scale3d(var(--tw-exit-scale, 1), var(--tw-exit-scale, 1), var(--tw-exit-scale, 1))
        rotate(var(--tw-exit-rotate, 0));
    }
  }
}

:root {
  --card: hsl(0 0% 10%);
  --ring: hsl(135 66% 78%);
  --input: hsl(0 0% 14.9%);
  --muted: hsl(0 0% 14.9%);
  --accent: hsl(0 0% 33%);
  --border: hsl(0 0% 5%);
  --popover: hsl(0 0% 17%);
  --primary: hsl(138 80% 56%);
  --secondary: hsl(0 0% 14%);
  --background: hsl(0 0% 5%);
  --foreground: hsl(0 0% 98%);
  --destructive: hsl(345 87% 53%);
  --card-foreground: hsl(0 0% 98%);
  --muted-foreground: hsl(0 0% 63.9%);
  --accent-foreground: hsl(0 0% 98%);
  --popover-foreground: hsl(0 0% 98%);
  --primary-foreground: hsl(0 0% 0%);
  --secondary-foreground: hsl(0 0% 98%);
  --destructive-foreground: hsl(0 0% 98%);
  --radius: 0.9rem;
}

@layer base {
  * {
    border-color: var(--border);
  }

  button,
  [role="button"] {
    cursor: pointer;
  }
  button:disabled,
  [role="button"]:disabled {
    cursor: default;
  }
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--border);
    border-radius: 5px;
  }
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--border) transparent;
  }
}

@utility container {
  @apply mx-auto px-4 max-w-6xl;
}

@utility fade-in {
  --tw-enter-opacity: 0;
}

@utility fade-out {
  --tw-exit-opacity: 0;
}

@utility slide-in-from-top {
  --tw-enter-translate-y: -100%;
}

@utility slide-in-from-bottom {
  --tw-enter-translate-y: 100%;
}

@utility slide-in-from-left {
  --tw-enter-translate-x: -100%;
}

@utility slide-in-from-right {
  --tw-enter-translate-x: 100%;
}
